{% extends 'base.html.twig' %}

{% block title 'Portfolio' %}

{% block body %}
    <section class="landing" data-scroll>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 109.072 114.901" class="landing__img mb-1">
            <defs>
                <linearGradient id="a" x1=".985" y1=".016" x2=".118" y2=".963" gradientUnits="objectBoundingBox">
                    <stop offset="0" stop-color="#204684"/>
                    <stop offset="1" stop-color="#2f5a91"/>
                </linearGradient>
                <linearGradient id="b" x1=".034" y1=".294" x2=".893" y2=".746" gradientUnits="objectBoundingBox">
                    <stop offset="0" stop-color="#e71949"/>
                    <stop offset="1" stop-color="#eb5733"/>
                </linearGradient>
                <linearGradient id="c" x1=".985" y1=".016" x2=".118" y2=".963" gradientUnits="objectBoundingBox">
                    <stop offset="0" stop-color="#0f8"/>
                    <stop offset="1" stop-color="#2c00e2"/>
                </linearGradient>
            </defs>
            <path d="M75.494 84.545H0V0h75.494v84.545zM3.081 3.659v77.227h69.331V3.659z" transform="translate(11.406 14.564)" fill="url(#a)"/>
            <path d="M28.418 56.837a28.629 28.629 0 0 1-5.727-.577 28.262 28.262 0 0 1-10.162-4.276 28.5 28.5 0 0 1-10.3-12.5 28.273 28.273 0 0 1-1.652-5.338 28.7 28.7 0 0 1 0-11.455 28.259 28.259 0 0 1 4.276-10.162 28.5 28.5 0 0 1 12.5-10.3A28.278 28.278 0 0 1 22.691.577a28.7 28.7 0 0 1 11.454 0 28.263 28.263 0 0 1 10.162 4.276 28.5 28.5 0 0 1 10.3 12.5 28.273 28.273 0 0 1 1.656 5.334 28.694 28.694 0 0 1 0 11.455 28.263 28.263 0 0 1-4.276 10.162 28.5 28.5 0 0 1-12.5 10.3 28.273 28.273 0 0 1-5.334 1.656 28.627 28.627 0 0 1-5.735.577zm0-54.166a25.748 25.748 0 1 0 25.748 25.747A25.777 25.777 0 0 0 28.418 2.671z" transform="translate(52.235)" fill="url(#b)"/>
            <path d="M51.465 84.545L0 0h96.75L51.465 84.545zM6.749 3.659L51.465 78.25 91.052 3.659H6.749z" transform="translate(-.001 30.356)" fill="url(#c)"/>
        </svg>
        <div class="landing__content">
            <p class="text--overline">Hi, je m'appelle Victor et je suis</p>
            <h1 class="title title--1 mb-2">Développeur Web & Software</h1>
            <p class="text text--secondary mb-2">Passionné par le développement depuis quelques années, j'ai commencé avec des technologies natives avant de tomber amoureux du web.</p>
            <a href="{{ path('home.about') }}" class="btn btn--large btn--primary">En savoir plus</a>
        </div>
    </section>
{% endblock %}

{% block footer %}{% endblock %}
