
/*==============================================
    Nav
==============================================*/
.nav-link {
    position: relative;
}

.nav-link:not(.nav-link--icon)::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 50%;
    background: var(--color-secondary);
    opacity: .2;
    transition: .3s;
}

.nav-link:not(.nav-link--icon):hover::after {
    width: 100%;
}

.nav-link--icon {
    display: inline-block;
    transform: scale(1);
    transition: .3s;
}

.nav-link--icon:hover {
    transform: scale(2);
}

/*=================================================
    Magnetic link
=================================================*/
[data-magnetic-button] {
    display: inline-block;
}