<header class="header">
    <a href="{{ path('home.index') }}" class="header__brand text--primary">Victor Mendele</a>
    <nav class="nav">
        <label for="nothing" class="material-icons text--primary">menu</label>
        <ul class="nav__list">
            <li class="nav__list__item">
                <a href="#" class="nav-link">Accueil</a>
            </li>
        </ul>
    </nav>
</header>